/CISI/TP1/MeteoClic/build/
/CISI/TP2/CompteurAvanceRecul/nbproject/private/
/CISI/TP2/CompteurAvanceRecul/build/
/CISI/TP2/MeteoClicPlus/nbproject/private/
/CISI/TP2/MeteoClicTime/nbproject/private/
/CISI/TP3/FeuTricolorFrancais/nbproject/private/
/CISI/TP3/FeuTricolorFrancais/build/
/CISI/TP3/FeuTricolorFrancais/dist/